# If you want Electrum-TLS to appear in a Linux app launcher ("start menu"), install this by doing:
# sudo desktop-file-install electrum-tls.desktop
# Note: This assumes $HOME/.local/bin is in your $PATH

[Desktop Entry]
Comment=Lightweight Telestai Client
Exec=electrum-tls %u
GenericName[en_US]=Electrum-TLS
GenericName=Electrum-TLS
Icon=electrum-tls
Name[en_US]=Electrum-TLS Telestai Wallet
Name=Electrum-TLS Telestai Wallet
Categories=Finance;Network;
StartupNotify=true
StartupWMClass=electrum-tls
Terminal=false
Type=Application
MimeType=x-scheme-handler/telestai;x-scheme-handler/lightning;
Actions=Testnet;

[Desktop Action Testnet]
Exec=electrum-tls --testnet %u
Name=Testnet mode
